<h1>マイページ</h1>
<p><%= current_user.username %> <%= current_user.email %></p>
<h2>趣味</h2>
<ul>
  <% current_user.hobbies.each do |hobby| %>
  <li>
    <%= hobby.title %>
    <%= link_to 'x', user_hobby_path(current_user, hobby), method: :delete %>
  </li>
  <% end %>
</ul>
<hr>
<h2>趣味を追加する</h2>
<% @recomend_hobbies.each do |hobby| %>
  <%= button_to hobby.title, user_hobbies_path(current_user), method: :post, params: {hobby: hobby} %>
<% end %>
