<h1>趣味一覧</h1>

<ul>
<% @hobbies.each do |hobby| %>
    <li><%= hobby.title %></li>
<% end %>
</ul>

<h2>趣味追加</h2>
<%= form_for @hobby do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.submit "作成", class: "btn btn-primary" %>
<% end %>